// Define variables for your color scheme

// For example:
$red: #FB7153;
$yellow: #F8D04A;

// $orange: #E67E22;
// $green: #1EDD88;

$dark-blue: #0F4C75;
$blue: #3282B8;
$light-blue: #BBE1FA;

$light-gray: #F1F2F3;
