<%= turbo_frame_tag dom_id(booking) do %>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= booking.status %>
    </button>
    <ul class="dropdown-menu">
      <% Booking.statuses.keys.each do |status| %>
        <li>
          <%= link_to status,
                      booking_path(booking, booking: {status: status}),
                      class: 'dropdown-item booking-button',
                      data: {
                        turbo_method: :patch
                      } %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
