<br>
<div class="container">
  <h1>Create Meal</h1>
</div>
<br>
<div class="container">
  <%= render "new_form", meal: @meal %>
</div>

<br>

<div class="container">
  <%= link_to "Back to meals", meals_path %>
</div>
