// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";

body {
  background-image: url("pages_background_3.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // color: #FFFFFF;
}
