.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  padding: 10px 5px 0px 0px;
  height: 70px;
  // position: sticky;
}

// .navbar-inner {
//   background-color:transparent;
// }

.navbar-lewagon .navbar-collapse {
  background-color:transparent;
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  background: transparent !important;
}

.button {
  justify-content: space-between;
}

nav ul li {
  padding : 10px 10px 10px 10px;
}
