<div class="banner">
  <div class="container">
    <h1>Mealful connects you to a range of delicious experiences</h1>
    <p>Change the way you dine</p>
    <%= link_to "Explore now", "#", class: "btn btn-light" %>
  </div>
</div>
