<div class="footer navbar fixed-bottom">
  <div class="footer-links">
    <a href="https://www.instagram.com"><i class="fa-brands fa-square-instagram"></i></a>
    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Have a meaningful meal <i class="fas fa-heart"></i> at Mealful
  </div>
</div>
