<div class='container'>
  <nav class="navbar navbar-light bg-light">
  <img src="avatar.png" alt="Avatar" class="avatar"><p></p>
    <span class="navbar-brand mb-0 h1">Mealful</span>
      <ul class="list-inline" padding="20px">
        <%# <li><%= link_to "Home", meals_path %></li> %>
        <%# <li><%= link_to "Share", new_meal_path, class: "btn btn-secondary" %></li> %>
      </ul>
  </nav>
</div>
